<div id="slides">
  <img />
</div>
<p id="notice"><%= notice %></p>


<h1>Listing documents</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Uploaded</th>
    <th>Page Count</th>
    <th>Actions</th>
  </tr>

<% @documents.each do |document| %>
  <tr>
    <td><%= document.name %></td>
    <td><%= document.created_at.localtime.strftime('%m/%d/%Y at %I:%M%p') %></td>
    <td><%= document.page_count %></td>
    <td><%= link_to 'Share' , share_document_path(document) ,:class => 'share_document'%>
    <%= link_to 'Delete', document, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= render 'form' %>
