<%
  doc_view_url = view_document_url(@document.id, @conference_id)
%>
<div class="alert alert-info" style="clear:both;min-height: 20px">
  <% if @host %>
    <strong>View URL : </strong><%= link_to(doc_view_url, doc_view_url) %>
  <% end %>
  <div id="status_bar" style="float:right">Status :
    <span class="label">Connecting...</span>
  </div>
</div>
<div id="conference-container">
  <div class="row-fluid">
      <div id="roster" class="span3">

      </div>
      <div class="span9">
          <div id="slides-container" style="text-align: center">
            <div><h2>Slide <span id="slide-number">1</span> of <%=  @document.page_count %></h2></div>
            <div id="slides"><img id="slides-image" style="width:800px;height:600px;border: solid black"/></div>

            <% if @host %>
                <div id="slides-buttons">
                  <input type="button" value="Previous" id="prev-slide"/>
                  <input type="button" value="Next" id="next-slide"/>
                </div>
            <% end %>
          </div>
      </div>
    </div>
</div>

<%= javascript_include_tag 'documents' %>

<%= javascript_tag do %>
    $(function(){
        var name = "";
        while(!name)
        name = prompt("Please enter your name","");
        console.log(name);
        conference.init({
          confid: '<%= @conference_id %>',
          doc: {id: '<%= @document.id %>',name: '<%= escape_javascript(@document.name) %>', pages: <%=raw @document.slides_urls.to_json %>},
          transport: {host: 'http://<%= request.host %>:1337/'},
          user: {name: name, id: '<%= @user_id %>'}
        });
        conference.join();
    });
<% end %>
